body{
    padding:0;
    margin:0;
    overflow: hidden;
    min-height: 100vh;
    overflow-y: auto;
    background-color:rgba(33, 43, 49, 0.76);
    
}
body::-webkit-scrollbar{
    width:12px;
    height:12px;
}
body::-webkit-scrollbar-thumb{
    background-color:rgba(240, 248, 255, 0.877);
    border-radius: 15px 15px;
}
body::-webkit-scrollbar-track{
    background:#212129;
}

